

@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}



@theme {
  --spacing: 0.2rem;
}

html {
  font-size: 14px;
  @apply antialiased;
}



h1, h2, h3, h4 {
  @apply font-medium tracking-tight;
}

h1 { @apply text-2xl; }  
h2 { @apply text-xl; }